header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: whitesmoke;
  color: blue;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}
