@media screen and (min-width: 600px) {
  header {
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  header h1 {
    display: inline-block;
    font-size: 48px;
  }

  .col {
    width: 100%;
    display: flex;
  }
}

main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
